@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Spartan", sans-serif;
}

/*--------------------------------navs*/

.navbar {
  padding: 0 5px 0 5px;
}

.dropdown-nav {
  background-color: rgb(220, 220, 220, 0.8);
}

.navbar-toggler {
  font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
  border: none;
}

/*--------------------------------text*/

.title-heading {
  color: rgb(249, 249, 249, 0.85);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03rem;
  margin: 0;
}

.general-heading {
  color: rgb(223, 139, 62, 0.85);
}

p {
  color: rgb(128, 128, 128);
  font-weight: 200;
  font-size: small;
  letter-spacing: 0.1rem;
}

.signature,
.navbar-nav {
  font-weight: 400;
  font-size: large;
  letter-spacing: 0.1rem;
}

/*--------------------------------logos*/

.logo-orange,
.logo-white {
  height: 50px;
}

.logo-orange-small,
.logo-orange-xsmall {
  height: 28px;
  position: relative;
  bottom: 5px;
  overflow: hidden;
}

.logo-orange-xsmall {
  height: 10px;
  bottom: 1px;
}
/*--------------------------------backgrounds*/
.container-fluid {
  overflow: hidden;
}

.background-container {
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  background-image: url("../assets/images/home-bg.png");
}

@media screen and (max-width: 768px) {
  .home-container {
    background: url("../assets/images/home-bg.png");
    background-position: left;
  }
}

.details-container {
  height: 50vh;
  background-image: url("../assets/images/widget-bg.png");
}

@media screen and (max-width: 768px) {
  .details-container {
    height: 800px;
    background: url("../assets/images/widget-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.widget-container {
    height: 55vh;
}

.seats-container {
  background-image: url("../assets/images/seats-bg.png");
}

@media screen and (max-width: 768px) {
  .seats-container {
    background: url("../assets/images/seats-bg.png");
    background-position: right;
  }
}

/*--------------------------------borders*/
.border {
  border: 1px solid rgb(249, 249, 249, 0.85);
  border-radius: 10px;
}

/*--------------------------------home*/

.box {
  width: 22rem;
  display: inline-block;
  position: relative;
  animation-name: box-fade;
  animation-delay: 1s;
  animation-duration: 5s;
  animation-fill-mode: backwards;
}

@keyframes box-fade {
  from {
    background-color: rgb(249, 249, 249);
  }
  to {
    background-color: transparent;
  }
}

/*--------------------------------about*/

iframe {
  border: 7px solid rgb(223, 139, 62, 0.85);
  border-radius: 3px;
}
@media screen and (max-width: 576px) {
  iframe {
    border: 5px solid rgb(223, 139, 62, 0.85);
    border-radius: 3px;
    width: 340px;
    height: 255px;
  }
}

/*--------------------------------details*/

.details-box {
  background-color: rgb(64, 64, 64, 0.5);
  padding: 0;
}

.details-box i,
.details-box p {
  color: rgb(249, 249, 249, 0.85);
}

/*--------------------------------seats*/
form {
  padding: 20px;
  padding-bottom: 5px;
  margin: 100px;
  color: white;
  background-color: rgb(64, 64, 64, 0.5);
}
@media screen and (max-width: 600px) {
  form {
    padding: 20px;
    padding-bottom: 5px;
    margin: 100px 0px 100px 0px;
    background-color: rgb(64, 64, 64, 0.5);
  }
}

.form-control,
#email,
#name,
#dates-select,
#guests-select,
#dietary-requirements {
  background-color: rgb(220, 220, 220, 0.3);
  color: rgb(249, 249, 249, 0.85);
}

.btn {
  border: 1px solid rgb(220, 220, 220, 0.85);
  color: rgb(220, 220, 220, 0.85);
  background-color: rgb(223, 139, 62, 0.85);
}

label {
  margin: 1px;
  font-weight: 200;
  font-size: small;
  letter-spacing: 0.1rem;
}

/*--------------------------------/seats*/

/*--------------------------------footer*/

.social-links li a i {
  color: rgb(223, 139, 62, 0.85);
  padding: 4px;
  font-size: 20px;
}

.phone {
  color: rgb(223, 139, 62, 0.85);
}
/*--------------------------------/footer*/

/*--------------------------------:hover*/
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(223, 139, 62, 0.85);
}

.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow:hover .hvr-icon,
.hvr-icon-grow:focus .hvr-icon,
.hvr-icon-grow:active .hvr-icon {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

.btn:hover {
  border: 1px solid rgb(223, 139, 62, 0.85);
  background-color: rgb(249, 249, 249, 0.85);
  color: rgb(223, 139, 62, 0.85);
}

