/*--------------------------------home-header*/

/*--------------------------------/home-header*/
/*--------------------------------logos*/
.logo-orange {
    height: 50px;
}
.logo-white {
    height: 50px;

}
/*--------------------------------logos*/

/*--------------------------------home*/
.home-container {
  height: 95vh;
  background: url("../assets/images/home-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  border: 6.5px solid black;
  border-radius: 10px;
  width: 20rem;
  padding: 5px;
  display: inline-block;
  background: none;
  position: relative;
}
/*--------------------------------/home*/

/*--------------------------------about*/
/*--------------------------------/about*/

/*--------------------------------join*/
/*--------------------------------/join*/


/*--------------------------------footer*/
footer {
    display: flex;
    justify-content: center;
}
/*--------------------------------/footer*/